:root {
    --app-primary-color: 255, 127, 80;
    --app-secondary-color: 49, 163, 174;
    --app-light-color: 250, 235, 215;
    --app-lightgray-color: 211, 211, 211;
    --app-brown-color: 81, 43, 43;
    --app-cyan-color: 224, 255, 255;
}
