.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(255, 140, 0, .1);
}

.App__content {
  flex: 1;
  padding: 16px;
}

@media only screen and (min-width: 600px) {
  .App__content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}
